/* Overwrite bootstrap's negative margins - causing horizontal scrolling*/
.row {
	margin-right: 0px;
	margin-left: 0px;
}

/* Body */
body {
	color: white;
}

/* Container */
.container {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

@media screen and (max-width: 767px) and (min-width: 585px) {
	.container {
		margin-right: auto;
		margin-left: auto;
	}
}

/* Header */

header {
	background-color: #212121;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.header-text {
	font-family: "Raleway", sans-serif;
	padding-left: 0px;
	padding-right: 15px;
	padding-top: 15px;
	margin-top: 0px;
}

.header-logo-container {
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 0px;
}

.header-logo {
	max-width: 100px;
	border-radius: 50%
}

.name {
	font-size: 25px;
	padding-left: 0px;
	padding-right: 0px;
}

.title{
	font-size: 15px;
}

/* For progressively larger screens, increase the size of
 * the nav items, my name, my title
 */

@media screen and (min-width: 315px) and (max-width: 490px) {
	.name {
		font-size: 27px;
	}
	.title {
		font-size: 16px;
	}
}

@media screen and (min-width: 490px) and (max-width: 595px) {
	.name {
		font-size: 45px;
	}
	.title {
		font-size: 20px;
	}
}

@media screen and (min-width: 595px) {
	.name {
		font-size: 55px;
	}
	.title {
		font-size: 20px;
	}
}


/* Navigation bar */
.nav-row {
    background-color: #424242;
    font-family: "Raleway", sans-serif;
    display: block;
    border: 1px white;
    border-style: solid none solid none;
}

.nav {
	padding: 10px 15px 10px 15px;
}

.nav-list {
	width: 100%;
	padding-left: 0;
	margin-bottom: 0;
}

.nav-item {
	box-sizing: border-box;
	display: inline-block;
	width: 32%;
	line-height: 24px;
}

.nav a {
	color: white;
	background-color: #212121;
	min-width: 84px;
	font-size: 16px;
}

.nav a:active {
	color: black;
}

/* For an exceptionally small screen, let buttons shrink */
@media screen and (max-width: 260px) {
	.nav a {
		min-width: 1px;
	}
}


/* Main */

/*main {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #C1C1C1;
	border:	1px solid black;
}
*/
.content {
	font-family: "Raleway", sans-serif;

	padding-left: 20px;
	padding-right: 20px;
	background-color: #C1C1C1;
	border:	1px black;
	border-style: solid none solid none;
}

.project-container {
	padding-right: 0px;
	padding-left: 0px;
}

.project {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #FFA726;
	margin: 20px;
	max-width: 560px;
	padding: 5px;
	box-shadow: 2px 2px 2px #464646;
}

#p1:hover, #p1:active {
	background-color: #0288D1;
}

#p2:hover, #p2:active {
	background-color: #0288D1;
}

#p3:hover, #p3:active {
	background-color: #0288D1;
}

#p4:hover, #p4:active {
	background-color: #0288D1;
}

#p5:hover, #p5:active {
	background-color: #0288D1;
}

#p6:hover, #p6:active {
	background-color: #0288D1;
}

.description {
	margin: 10px;
}

.project h3, .project p {
	margin: 0px;
}

.project img {
	border: 1px solid #707073;
    border-radius: 5px;
}

.project a {
	text-decoration: none;
	color:inherit;
}


/* Footer */
.footer {
	background-color: #212121;
	text-align: right;
	border: 1px white;
	border-style: solid none solid none;
}

.footer-list {
	padding-top: 10px;
}

.footer-item {
	box-sizing: border-box;
	display: inline-block;
	padding-right: 10px;
}

.footer a, .footer a:visited {
	background-color: #212121;
	color: white;
}

.footer a:hover {
	background-color: #E6E6E6;
	color: black;
}


/* Miscellaneous */
ul {
    list-style: none;
}

h3 {
	margin-top: 0px;
}