/* Request fonts immediately */
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v10/rr0ijB5_2nAJsAoZ6vECXYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v10/RJMlAoFXXQEzZoMSUteGWJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Overwrite bootstrap's negative margins - causing horizontal scrolling*/
.row {
	margin: 0 0 0 0;
}

/* Body */
body {
	color: white;
}

/* Container */
.container {
	width: 100%;
	padding: 0 0 0 0;
}


/* Header */

header {
	background-color: #212121;
	padding: 0 10px 10px 10px;
}

.header-text {
	font-family: "Raleway", sans-serif;
	padding: 15px 15px 0 0;
	margin-top: 0;
}

.header-logo-container {
	padding: 20px 0 0 15px;
}

.header-logo {
	max-width: 100px;
	border-radius: 50%
}

.name {
	font-size: 25px;
	padding: 0 0 0 0;
}

.title{
	font-size: 15px;
}

/* For progressively larger screens, increase the size of
 * the nav items, my name, my title
 */

@media screen and (min-width: 315px) and (max-width: 490px) {
	.name {
		font-size: 27px;
	}
	.title {
		font-size: 16px;
	}
}

@media screen and (min-width: 490px) and (max-width: 595px) {
	.name {
		font-size: 45px;
	}
	.title {
		font-size: 20px;
	}
}

@media screen and (min-width: 595px) {
	.name {
		font-size: 55px;
	}
	.title {
		font-size: 20px;
	}
}


/* Navigation bar */
.nav-row {
    background-color: #424242;
    font-family: "Raleway", sans-serif;
    display: block;
    border: 1px white;
    border-style: solid none solid none;
}

.nav {
	padding: 10px 15px 10px 15px;
}

.nav-list {
	width: 100%;
	padding-left: 0;
	margin-bottom: 0;
}

.nav-item {
	box-sizing: border-box;
	display: inline-block;
	width: 32%;
	line-height: 24px;
}

.nav a {
	color: white;
	background-color: #212121;
	min-width: 84px;
	font-size: 16px;
}

.nav a:active {
	color: black;
}

/* For an exceptionally small screen, let buttons shrink */
@media screen and (max-width: 260px) {
	.nav a {
		min-width: 1px;
	}
}


/* Main */
.content {
	font-family: "Raleway", sans-serif;
	padding: 0 20px 0 20px;
	background-color: #c1c1c1;
	border:	1px black;
	border-style: solid none solid none;
}

.project-container {
	padding: 0 0 0 0;
}

.project {
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ffa726;
	margin: 20px;
	max-width: 560px;
	padding: 5px;
	box-shadow: 2px 2px 2px #464646;
}

.project:hover, .project:active {
	background-color: #0288d1;
}

.description {
	margin: 10px;
}

.project h3, .project p {
	margin: 0px;
}

.project img {
	border: 1px solid #707073;
    border-radius: 5px;
}

.project a {
	text-decoration: none;
	color:inherit;
}


/* Footer */
.footer {
	background-color: #212121;
	text-align: right;
	border: 1px white;
	border-style: solid none solid none;
}

.footer-list {
	padding-top: 10px;
}

.footer-item {
	box-sizing: border-box;
	display: inline-block;
	padding-right: 10px;
}

.footer a, .footer a:visited {
	background-color: #212121;
	color: white;
}

.footer a:hover {
	background-color: #e6e6e6;
	color: black;
}


/* Miscellaneous */
ul {
    list-style: none;
}

h3 {
	margin-top: 0;
}